.chatContainer::part(scroll) {
  display: flex;
  flex-direction: column-reverse;
}

.chat {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;

  :global(.md) & {
    padding-bottom: 0;
  }

  .chatBubble {
    position: relative;
    border-radius: 0.5rem;
    padding: 0.75rem;

    &:not(:first-child) {
      margin-bottom: 1rem;
    }

    &.sent {
      color: var(--ion-color-primary-contrast);
      background-color: var(--ion-color-primary);
      border-bottom-right-radius: 0;
      margin-left: 5rem;
      margin-right: 0.5rem;

      & + .chatBubble.sent {
        margin-bottom: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        &::after {
          content: none;
        }
      }

      &::after {
        right: -0.5rem;
        border-width: 0 0.5rem 0.5rem 0;
        border-color: var(--ion-color-primary) transparent;
      }
    }

    &.received {
      color: var(--ion-color-light-contrast);
      background-color: var(--ion-color-light);
      border-bottom-left-radius: 0;
      margin-left: 0.5rem;
      margin-right: 5rem;

      & + .chatBubble.received {
        margin-bottom: 0.5rem;
        border-bottom-left-radius: 0.5rem;

        &::after {
          content: none;
        }
      }

      &::after {
        left: -0.5rem;
        border-width: 0 0 0.5rem 0.5rem;
        border-color: var(--ion-color-light) transparent;
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      border-style: solid;
    }
  }
}

.chatSend {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 0.5rem;
  z-index: 0;

  :global(.md) & {
    padding: 1rem;
  }

  :global(.ios) & {
    background-color: var(--ion-color-light);
    padding: 0.5rem;
  }

  .chatInputContainer {
    flex-grow: 1;

    .chatInput {
      :global(.md) & {
        margin-top: 0.25rem;
      }

      :global(.ios) & {
        margin-top: 0.125rem;
      }
    }
  }

  .chatButton {
    margin: 0;

    :global(.md) & {
      height: 3.125rem;
      width: 3.125rem;
      --border-radius: 3.125rem;
    }

    :global(.ios) & {
      height: 2.8125rem;
      width: 2.8125rem;
      --border-radius: 2.8125rem;
      --padding-start: 0.75rem;
      --padding-end: 0.75rem;
    }
  }
}
