.dayHeader {
  font-weight: bold;
}

.timeSlotsItem {
  // this prevents item from scrolling to top on rerender
  min-height: 22rem;
}

.timeSlotSlideContainer {
  padding: 2rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.timeSlotRow {
  border: 0.05rem solid #fff;
}

.timeSlotBox {
  display: flex;
  width: 2.2rem;
  height: 4rem;
  border: 0.05rem solid #fff;
}

.firstHalfHourSlot {
  border-right: 0.05rem dashed #fff;
}

.secondHalfHourSlot {
  border-left: 0.05rem dashed #fff;
}

.slotFilled {
  background-color: #3880ff;
}

.timeSlotSpan {
  font-size: 0.7rem;
  margin-left: -0.5rem;
  margin-top: -1.2rem;
}
