.profileHeader {
    display: flex;
    align-items: center;
    gap: 8px;

    .profileAvatar, .profileGender {
      flex-shrink: 0;
    }

    .profileAvatar {
      margin-right: 12px;
    }
}

.profileContainer.empty {
  display: flex;
  flex-direction: column;
  height: 100%;

  .emptyMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: #a6a6a6;
    
    @media (prefers-color-scheme: dark) {
      color: #656565;
    }
  
    .closeIcon {
      font-size: 72px;
      margin-bottom: 12px;
    }
  }
}
