.listingCardHeaderContainer {
  padding: 0rem 0.5rem;
}

.listingCardHeaderContainerWithoutProfile {
  padding: 0.5rem 0.5rem 0rem;
}

.listingCardTitle {
  font-size: 1.2rem;
}

.listingCardDescription {
  font-size: 0.9rem;
}

.itemLabel {
  font-size: 0.9rem !important;
}
