.noListingsMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: #a6a6a6;
  padding: 2rem;

  @media (prefers-color-scheme: dark) {
    color: #656565;
  }

  .noListingsIcon {
    font-size: 72px;
    margin-bottom: 12px;
  }
}
