.header {
  margin: 20px 0;

  .headerImg {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 240px;
  }

  .headerText {
    text-align: center;
    margin: 40px 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
