.brand-header {
  margin: 0 40px 60px;

  .brand-img {
    max-width: 240px;
    margin: auto;
  }

  .brand-name {
    font-family: 'Bitter', serif;
    font-size: 48px;
    margin: 4px 0 0 0;
  }
}

.form-buttons {
  margin-top: 32px;
}
